:root {
    --black: #000000;
    --white: #ffffff;
}

.Navigation {
    margin: 0px;
    list-style-type: none;
    margin-top: 0px;
    margin-left: 70px;
    padding: 0;
    background-color: white;
    top: 0;
    position: fixed;
}

.NavigationBar {
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(85, 153, 192);
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 10px;
}

li a:hover {
    background-color: rgb(121, 121, 121);
}

.bold {
    margin-top: 50px;
    margin-left: 00px;
}

.container {
    top: 0px;
    margin: 0px;
    position: relative;
    text-align: center;
    color: black;
}

.bottom-left {
    position: absolute;
    color: white;
    bottom: 115px;
    left: 106px;
}

.top-left1 {
    position: absolute;
    font-size: 28px;
    font-family: sans-serif;
    top: 140px;
    left: 120px;
}

.top-left2 {
    position: absolute;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 170px;
    left: 120px;
}

.top-left3 {
    position: absolute;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    top: 300px;
    left: 120px;
}

.top-right1 {
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    top: 140px;
    right: 300px;
}

.top-right2 {
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 27px;
    top: 160px;
    right: 240px;
}

.top-right3 {
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    top: 200px;
    right: 195px;
}

.bottom-right1 {
    position: absolute;
    color: white;
    bottom: 120px;
    right: 100px;
}

.bottom-right2 {
    position: absolute;
    color: white;
    bottom: 120px;
    right: 260px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center {
    text-align: center;
}

.Part1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: rgb(94, 94, 94);
    font-size: 16px;
    line-height: 1.5;
}

.Part2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 500;
    transition-duration: 1s;
}

.Part2:hover {
    animation-name: ChangeFont;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
}

@keyframes ChangeFont {
    from {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    to {
        font-family: fantasy;
    }
}

.btn {
    border-radius: 18px;
    padding: 5px;
    margin-right: 10px;
    margin-top: 15px;
    transition-duration: 800ms;
}

.btn:hover {
    background-color: grey;
}

.BlueCenter {
    color: rgb(130, 163, 255);
}

.BrandImg {
    margin-right: 80px;
    margin-left: 80px;
}

.Column {
    color: black;
    display: flex;
}

.article {
    padding: 10px;
    margin: 10px;
    background: rgb(255, 255, 255);
    flex: 1 200px;
}

section {
    display: flex;
    align-items: center;
}

.Part3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.apple {
    border-radius: 2%;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}

.last {
    background-color: lightgray;
    height: 300px;
    margin-top: -8px;
    padding-top: 200px;
}
